

.cart-container {
    color: white;
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: black;
    border-style: solid;
}

.games-list  {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.game-card  {
    border-radius: 10px;
    border: 3px solid purple; 
    padding: 20px;
     margin-left: 30px;
     margin-right: 30px;
}
.game-card img  {
    width: 300px;
    height: 400px;
   
}

.cart-summary{
    border-radius: 10px;
    border: 2px;

     margin-left: 30px;
     margin-right: 30px;
}
.game-card img {
    border-style: solid;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.cart-summary {
    flex: 1;
    border: 1px solid #ddd;
    padding: 20px;
    
}

.checkout-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.remove-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .cart-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cart-summary {
        order: -1;
    }

    .games-list {
        flex: 1;
        gap: 20px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
    }
    
    .game-card {
        margin: 0;
    }
    
    .checkout-button {
        width: 100%;
    }
}

@media (max-width: 1024px) {

}