body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 55%;
    background-color: #272727;
    color: white;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 50%);
    z-index: -1;
}

img {
    height: auto;
    width: auto;
}

.slider {
    height: 290px;
    width: 100%;
    max-width: 450px;
    margin: 30px auto;
    border-radius: 10px;
    border: 2px solid #000;
}

.slider img {
    border-radius: 10px;
}

.game {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    cursor: pointer;
    background: #555555;
    border-radius: 10px;
}

.game img {
    width: 450px;
    height: 200px;
}

h2 {
    text-align: center;
}

.game h3,
.game p {
    margin-top: 10px;
    text-align: left;
    margin-left: 20px;
}

.welcome {
    text-align: center;
    padding: 30px;
}

.welcome h1 {
    font-size: 36px;
}

.welcome p {
    font-size: 20px;
    margin-top: 15px;
}

.custom-main-container {
    width: 85%;
    margin: 0 auto;
}

#recentPurchases {
    width: 100%;
}

.card {
    cursor: pointer;
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: transparent;
    border: none;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 180px;
    border: 2px solid #000;
}

.card-body {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-size: 18px;
    margin: 0;
}

.card-text {
    font-size: 16px;
    margin: 0;
}

.slick-dots li.slick-active button {
    width: 5px;
    height: 5px;
    background-color: #ffffff;
}

.slick-dots li button {
    width: 5px;
    height: 5px;
    background-color: #9A0883FF;
}

.lastadd {
    margin-top: 40px;
}
