.step-container {
    width: 500px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: left;
}

.user-info, .cart-info, .payment-info {
    padding: 5px;
    border-top: 3px solid purple;
    border-bottom: 3px solid purple;
}

button {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 20px;
}

#stepContainer2, #stepContainer3 {
    width: 1000px;
    border-radius: 10px;
    border: 3px solid purple;
    margin: 0 auto;
    background-color: black;
    padding: 10px;
    font-size: x-large;
}

.card-details {
    border-radius: 6px;
    border: 3px solid purple;
    padding: 40px;
    margin: 10px;
    background-color: black;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.step {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.step.active {
    background-color: #007bff;
    color: #fff;
}

.step.completed {
    background-color: #28a745;
    color: #fff;
}

.progress-line {
    height: 5px;
    background-color: #ccc;
    flex: 1;
    margin: 0 1px;
}

.progress-line.active {
    background-color: #28a745;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

p {
    font-size: large;
}

h1 {
    text-align: center;
}

@media (max-width: 768px) {
    .step-container {
        width: auto;
        padding: 10px;
        text-align: center;
        border: none;
    }

    .card-details {
        margin: 10px;
    }

    .progress-container {
        flex-direction: line;
    }

    .step {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }


}